################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/RealEstate/RealEstate.Api/bin/Debug/net8.0
/backend/RealEstate/RealEstate.Api/obj
/backend/RealEstate/RealEstate.Core/bin/Debug/net8.0
/backend/RealEstate/RealEstate.Core/obj
/backend/RealEstate/RealEstate.Infrastructure/bin/Debug/net8.0
/backend/RealEstate/RealEstate.Infrastructure/obj
/backend/RealEstate/RealEstate.Services/bin/Debug/net8.0
/backend/RealEstate/RealEstate.Services/obj
/frontend/package-lock.json
/frontend/node_modules
/.vs
/backend/RealEstate/.vs/ProjectEvaluation/realestate.metadata.v9.bin
/backend/RealEstate/.vs/ProjectEvaluation/realestate.strings.v9.bin
/backend/RealEstate/.vs/ProjectEvaluation/realestate.projects.v9.bin
/backend/RealEstate/.vs/RealEstate/v17/.futdcache.v2
/backend/RealEstate/.vs/RealEstate/v17/.suo
/backend/RealEstate/.vs/RealEstate/v17/DocumentLayout.backup.json
/backend/RealEstate/.vs/RealEstate/v17/DocumentLayout.json
/backend/RealEstate/.vs/RealEstate/FileContentIndex/2ce32b09-ec49-48aa-b9ed-f49529b6814e.vsidx
/backend/RealEstate/.vs/RealEstate/FileContentIndex/5922d3fb-e313-455f-8082-f79595342672.vsidx
/backend/RealEstate/.vs/RealEstate/FileContentIndex/673587ad-98c3-4e99-b66b-88e3bc6da2bf.vsidx
/backend/RealEstate/.vs/RealEstate/FileContentIndex/751f6538-f99d-4653-947e-d214f709cfce.vsidx
/backend/RealEstate/.vs/RealEstate/FileContentIndex/aa9d9953-b0f7-4610-b583-79684ebe126b.vsidx
/backend/RealEstate/.vs/RealEstate/FileContentIndex/fd0ef85c-b2a7-4624-aab2-77a3cfe48f23.vsidx
/backend/RealEstate/.vs/RealEstate/DesignTimeBuild/.dtbcache.v2
/backend/RealEstate/.vs/RealEstate/CopilotIndices/17.14.878.3237/CodeChunks.db
/backend/RealEstate/.vs/RealEstate/CopilotIndices/17.14.878.3237/CodeChunks.db-shm
/backend/RealEstate/.vs/RealEstate/CopilotIndices/17.14.878.3237/CodeChunks.db-wal
/backend/RealEstate/.vs/RealEstate/CopilotIndices/17.14.878.3237/SemanticSymbols.db
/backend/RealEstate/.vs/RealEstate/CopilotIndices/17.14.878.3237/SemanticSymbols.db-shm
/backend/RealEstate/.vs/RealEstate/CopilotIndices/17.14.878.3237/SemanticSymbols.db-wal
